In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re
import unicodedata
from geopy.distance import geodesic, great_circle

In [2]:
def strip_accents(text):
    """
    Strip accents from input String.

    :param text: The input string.
    :type text: String.

    :returns: The processed String.
    :rtype: String.
    """
    try:
        text = unicode(text, 'utf-8')
    except (TypeError, NameError): # unicode is a default on python 3
        pass
    text = unicodedata.normalize('NFD', text)
    text = text.encode('ascii', 'ignore')
    text = text.decode("utf-8")
    return str(text)

In [3]:
flights = pd.read_csv('flightdiary20240507.csv', sep=',')
df = flights

In [4]:
df

,Date,Flight number,From,To,Dep time,Arr time,Duration,Airline,Aircraft,Registration,Seat number,Seat type,Flight class,Flight reason,Note,Dep_id,Arr_id,Airline_id,Aircraft_id
0,2022-06-28,FR1604,Kerkira / Ioannis Kapodistrias (CFU/LGKR),Marseille / Marseille Provence (MRS/LFML),09:40:00,10:55:00,02:15:00,Ryanair (FR/RYR),Boeing 737-800 (B738),EI-EKO,4A,1,0,0,NaN,531,1928,668,231
1,2022-06-25,FR7444,Marseille / Marseille Provence (MRS/LFML),Kerkira / Ioannis Kapodistrias (CFU/LGKR),10:25:00,13:30:00,02:05:00,Malta Air (AL/MAY),Boeing 737-800 (B738),9H-QDI,4A,1,0,0,NaN,1928,531,2723,231
2,2022-05-17,U23062,Nice / Nice Cote D'Azur (NCE/LFMN),Paris / Charles de Gaulle (CDG/LFPG),06:15:00,07:55:00,01:40:00,easyJet Europe (EC/EJU),Airbus A320-200 (A320),OE-ICP,8E,2,0,0,NaN,2027,509,2665,2059
3,2022-03-18,W68299,Rome / Leonardo da Vinci-Fiumicino (FCO/LIRF),Nice / Nice Cote D'Azur (NCE/LFMN),16:30:00,17:50:00,01:20:00,Wizz Air (W6/WZZ),Airbus A321neo (A21N),NaN,NaN,0,0,0,NaN,872,2027,859,2128
4,2022-03-18,EK97,Dubai / Dubai International (DXB/OMDB),Rome / Leonardo da Vinci-Fiumicino (FCO/LIRF),09:10:00,13:25:00,06:15:00,Emirates (EK/UAE),Boeing 777-300ER (B77W),A6-EGS,NaN,0,0,0,NaN,768,872,807,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,2025-01-16,AZ64,Rome / Leonardo da Vinci-Fiumicino (FCO/LIRF),Madrid / Barajas (MAD/LEMD),21:25:00,23:59:00,02:34:00,ITA Airways (AZ/ITY),Airbus A320neo (A20N),NaN,NaN,0,0,0,NaN,872,1739,2967,2127
230,2024-11-11,GA409,Denpasar Bali / Ngurah Rai (DPS/WADD),Jakarta / Soekarno Hatta (CGK/WIII),13:45:00,14:45:00,02:00:00,Garuda Indonesia (GA/GIA),Airbus A330-200 (A332),NaN,NaN,0,0,0,NaN,3582,534,327,30
231,2024-06-16,MF8086,Dalian / Zhoushuizi (DLC/ZYTL),Nanjing / Nanjing (NKG/ZSNJ),09:05:00,10:50:00,01:45:00,Xiamen Airlines (MF/CXA),Boeing 737-800 (B738),NaN,NaN,0,0,0,STOPOVER,720,2066,215,231
232,2024-06-16,MF8086,Nanjing / Nanjing (NKG/ZSNJ),Fuzhou / Fuzhou (FOC/ZSFZ),12:05:00,13:40:00,01:35:00,Xiamen Airlines (MF/CXA),Boeing 737-800 (B738),NaN,NaN,0,0,0,STOPOVER,2066,909,215,231
233,2024-06-16,MF8651,Fuzhou / Fuzhou (FOC/ZSFZ),Hong Kong / Hong Kong International (HKG/VHHH),17:30:00,19:00:00,01:30:00,Xiamen Airlines (MF/CXA),Boeing 737-800 (B738),NaN,NaN,0,0,0,NaN,909,1135,215,231

In [5]:
keys_x = df.keys()
keys_x

Index(['Date', 'Flight number', 'From', 'To', 'Dep time', 'Arr time',
       'Duration', 'Airline', 'Aircraft', 'Registration', 'Seat number',
       'Seat type', 'Flight class', 'Flight reason', 'Note', 'Dep_id',
       'Arr_id', 'Airline_id', 'Aircraft_id'],
      dtype='object')

In [6]:
def get_code(string, start, length):
  match = re.search(r'\((.*?)\)', string)

  if match:
      content_inside_brackets = match.group(1)
      first_length_chars = content_inside_brackets[start:start+length]

  return first_length_chars

In [7]:
def get_airline_code(airline):
  if get_code(airline, 0, 2)[0] == "/": return get_code(airline, 1, 3)
  return get_code(airline, 0, 2)

In [8]:
def get_airport_code(airport):
  return get_code(airport, 0, 3)

In [9]:
# df_result = pd.DataFrame(columns=keys_x)
# df_result

In [10]:
# find out the flights that didn't operate by its iata code airline and its number
# not include in the final output file
count = 0
table = []
for i in range(df.shape[0]):
  if (not (df.iloc[i][keys_x[1]][:2] in [])) and (df.iloc[i][keys_x[1]][:2] != get_airline_code(df.iloc[i][keys_x[7]])):
    count += 1
    double = [df.iloc[i][keys_x[1]][:2], df.iloc[i][keys_x[7]]]
    triple = [df.iloc[i][keys_x[0]], df.iloc[i][keys_x[1]][:2], df.iloc[i][keys_x[7]]]
    if not double in table:
      table.append(double)
print(count)
for i in range(len(table)):
  print(table[i])

66
['FR', 'Malta Air (AL/MAY)']
['U2', 'easyJet Europe (EC/EJU)']
['FR', 'Lauda Air (NG/LDA)']
['U2', 'Easyjet Switzerland (DS/EZS)']
['FR', 'Buzz (RR/RYS)']
['UX', 'CanaryFly (PM/CNF)']
['CA', 'Dalian Airlines (/CCD)']
['AF', 'KLM Royal Dutch Airlines (KL/KLM)']
['KL', 'China Southern Airlines (CZ/CSN)']
['U2', 'SmartLynx Airlines (6Y/ART)']
['IB', 'Air Nostrum (YW/ANE)']
['BT', 'Avion Express Malta (/MLH)']
['KL', 'KLM Cityhopper (WA/KLC)']
['CZ', 'Chongqing Airlines (OQ/CQN)']
['AF', 'HOP! (A5/HOP)']

In [11]:
# compute iata code for dep/arr airport for each flight
df_from = df['From']
df_to = df['To']
from_to_pair = []
for i in range(df.shape[0]):
  pair = [get_airport_code(df_from[i]), get_airport_code(df_to[i])]
  from_to_pair.append(pair)
assert(len(from_to_pair) == df.shape[0])
print(from_to_pair)

[['CFU', 'MRS'], ['MRS', 'CFU'], ['NCE', 'CDG'], ['FCO', 'NCE'], ['DXB', 'FCO'], ['BKK', 'DXB'], ['HKG', 'BKK'], ['HEL', 'HKG'], ['NCE', 'HEL'], ['VIE', 'MRS'], ['NCE', 'VIE'], ['FCO', 'NCE'], ['CTA', 'FCO'], ['FCO', 'CTA'], ['NCE', 'FCO'], ['TFS', 'NCE'], ['BSL', 'TFS'], ['NCE', 'BSL'], ['HBE', 'MXP'], ['CAI', 'ASW'], ['MXP', 'HBE'], ['BDS', 'MXP'], ['FCO', 'BDS'], ['TFS', 'FCO'], ['PMI', 'TFN'], ['MXP', 'PMI'], ['LCA', 'MXP'], ['AMM', 'PFO'], ['WMI', 'AMM'], ['KBP', 'WMI'], ['WRO', 'LWO'], ['OHD', 'VIE'], ['CIA', 'TIA'], ['CTA', 'FCO'], ['NCE', 'CTA'], ['CDG', 'NCE'], ['NCE', 'ORY'], ['CDG', 'NCE'], ['GVA', 'NCE'], ['LIS', 'ZRH'], ['NTE', 'LIS'], ['NCE', 'ORY'], ['VIE', 'NCE'], ['CPH', 'MUC'], ['NCE', 'ORY'], ['TFS', 'MXP'], ['LPA', 'TFN'], ['MXP', 'LPA'], ['WMI', 'BGY'], ['MXP', 'KRK'], ['LIS', 'MXP'], ['MXP', 'LIS'], ['VIE', 'NCE'], ['CRL', 'BUD'], ['NCE', 'BRU'], ['FCO', 'NCE'], ['MLA', 'NAP'], ['ATH', 'CIA'], ['FCO', 'MLA'], ['JTR', 'ATH'], ['ATH', 'JTR'], ['BGY', 'ATH'], ['SOF', 'BGY'], ['BGY', 'OTP'], ['GVA', 'NCE'], ['KUT', 'MXP'], ['BLQ', 'KUT'], ['BCN', 'NCE'], ['SXF', 'BCN'], ['NCE', 'HAM'], ['PEK', 'NCE'], ['DLC', 'PEK'], ['DLC', 'XIY'], ['XMN', 'DLC'], ['AMS', 'XMN'], ['ZRH', 'AMS'], ['AMS', 'NCE'], ['PEK', 'AMS'], ['DLC', 'PEK'], ['CDG', 'PEK'], ['NCE', 'CDG'], ['FEZ', 'MRS'], ['MRS', 'FEZ'], ['AMS', 'NCE'], ['MAD', 'AMS'], ['OPO', 'MAD'], ['LIS', 'OPO'], ['CDG', 'LIS'], ['MRS', 'CDG'], ['CDG', 'NCE'], ['ISL', 'CDG'], ['NCE', 'AMS'], ['LHR', 'NCE'], ['PEK', 'LHR'], ['DLC', 'PEK'], ['TSN', 'DLC'], ['LHR', 'PEK'], ['NCE', 'LHR'], ['SVO', 'NCE'], ['PEK', 'SVO'], ['DLC', 'PEK'], ['PEK', 'DLC'], ['DLC', 'PEK'], ['PEK', 'DLC'], ['PEK', 'DLC'], ['NCE', 'LGW'], ['LGW', 'NCE'], ['NCE', 'LTN'], ['STN', 'NCE'], ['NCE', 'EDI'], ['EDI', 'NCE'], ['NCE', 'LGW'], ['LGW', 'DUB'], ['DUB', 'NCE'], ['ORY', 'CAI'], ['NAP', 'NCE'], ['MRS', 'SNN'], ['DUB', 'NCE'], ['MXP', 'NAP'], ['HRG', 'MXP'], ['AMS', 'ISL'], ['ISL', 'ASR'], ['ASR', 'ISL'], ['GVA', 'JED'], ['JED', 'KUL'], ['KUL', 'JED'], ['JED', 'MAD'], ['KIX', 'SIN'], ['BKK', 'NRT'], ['NCE', 'ORY'], ['MAD', 'NCE'], ['DPS', 'KUL'], ['CNX', 'BKK'], ['DMK', 'CNX'], ['SIN', 'BKI'], ['NCE', 'OLB'], ['CAG', 'NAP'], ['NCE', 'TLL'], ['TLL', 'ARN'], ['ARN', 'NCE'], ['NCE', 'BEG'], ['BEG', 'NCE'], ['MRS', 'FEZ'], ['FEZ', 'MRS'], ['KUL', 'HKG'], ['MFM', 'SIN'], ['SIN', 'YIA'], ['YIA', 'DPS'], ['FCO', 'NCE'], ['HND', 'ITM'], ['KUL', 'REP'], ['KUL', 'PEN'], ['REP', 'DMK'], ['LGK', 'KUL'], ['PEN', 'LGK'], ['NCE', 'GVA'], ['BKI', 'JHB'], ['JHB', 'KUL'], ['NCE', 'CDG'], ['CDG', 'ICN'], ['BKK', 'AMS'], ['DLC', 'YIH'], ['YIH', 'DMK'], ['ICN', 'DLC'], ['AMS', 'NCE'], ['MRS', 'FCO'], ['FCO', 'AUH'], ['AUH', 'MCT'], ['MCT', 'AUH'], ['AUH', 'SKD'], ['SKD', 'ALA'], ['ALA', 'NQZ'], ['NQZ', 'AUH'], ['AUH', 'FCO'], ['FCO', 'NCE'], ['MRS', 'VLC'], ['VLC', 'SVQ'], ['AGP', 'BOD'], ['BOD', 'NCE'], ['AMS', 'NCE'], ['AMS', 'BEG'], ['BEG', 'AMS'], ['CKG', 'LYI'], ['LYI', 'DLC'], ['NCE', 'AMS'], ['AMS', 'NBO'], ['NBO', 'SEZ'], ['SEZ', 'NBO'], ['NBO', 'AMS'], ['AMS', 'NCE'], ['NCE', 'CDG'], ['CDG', 'AMS'], ['NCE', 'AMS'], ['NCE', 'AMS'], ['AMS', 'CDG'], ['CDG', 'HKG'], ['HKG', 'AMS'], ['AMS', 'NCE'], ['NCE', 'ORY'], ['ORY', 'NCE'], ['HKG', 'BKK'], ['BKK', 'HKT'], ['HKT', 'PVG'], ['PVG', 'DLC'], ['PEK', 'CDG'], ['CDG', 'AMS'], ['AMS', 'NCE'], ['PEK', 'DLC'], ['AMS', 'PEK'], ['DLC', 'PKX'], ['NCE', 'CDG'], ['CDG', 'HKG'], ['CGK', 'SIN'], ['SIN', 'AMS'], ['AMS', 'NCE'], ['HKG', 'HAN'], ['HAN', 'SAI'], ['SAI', 'DMK'], ['BKK', 'SIN'], ['SIN', 'DPS'], ['MAD', 'CDG'], ['CDG', 'PVG'], ['PVG', 'DLC'], ['DLC', 'PVG'], ['PVG', 'CDG'], ['CDG', 'MUC'], ['MUC', 'CDG'], ['CDG', 'NCE'], ['NCE', 'FCO'], ['FCO', 'MAD'], ['DPS', 'CGK'], ['DLC', 'NKG'], ['NKG', 'FOC'], ['FOC', 'HKG']]

In [12]:
# airline alliance
# 0: skyteam
skyteam = ["AR", "AM", "UX", "AF", "CI", "MU", "OK", "DL", "GA", "AZ", "KQ", "KL", "KE", "ME", "SV", "RO", "VN", "VS", "MF"]
# skyteam.append("SU")
skyteam.append("A5") # AF affiliate
skyteam.append("FM") # MU affiliate
skyteam.append("WA") # KL affiliate
# 1: staralliance
staralliance = ["A3", "AC", "CA", "AI", "NZ", "NH", "OZ", "OS", "AV", "SN", "CM", "OU", "MS", "ET", "BR", "LO", "LH", "SK", "ZH", "SQ", "SA", "LX", "TP", "TG", "TK", "UA"]
staralliance.append("CCD") # CA affiliate
# 2: oneworld
oneworld = ["AS", "AA", "BA", "CX", "AY", "IB", "JL", "MH", "QF", "QR", "AT", "RJ", "UL"]
oneworld.append("FY") # MH affiliate
oneworld.append("YW") # IB affiliate

In [13]:
alliance_ref_dict = {}
df_airline = df['Airline']
airline_uniq = np.unique(df_airline)
for i in range(len(airline_uniq)):
  iata_code = get_airline_code(airline_uniq[i])
  found = False
  if (not found) and (iata_code in skyteam):
    alliance_ref_dict.update({iata_code: 1})
    found = True
  if (not found) and (iata_code in staralliance):
    alliance_ref_dict.update({iata_code: 2})
    found = True
  if (not found) and (iata_code in oneworld):
    alliance_ref_dict.update({iata_code: 3})
    found = True
  if (not found): alliance_ref_dict.update({iata_code: 0})
print(alliance_ref_dict)

{'SU': 0, 'AK': 0, 'KC': 0, 'CA': 2, 'AF': 1, 'YW': 3, 'MLH': 0, 'PG': 0, 'BA': 3, 'RR': 0, 'PM': 0, 'CX': 3, 'MU': 1, 'CZ': 0, 'OQ': 0, 'CCD': 2, 'U2': 0, 'DS': 0, 'MS': 2, 'EK': 0, 'EY': 0, 'AY': 3, 'FY': 3, 'GA': 1, 'A5': 1, 'AZ': 1, 'JL': 3, 'WA': 1, 'KL': 1, 'KQ': 1, 'NG': 0, 'JT': 0, 'Z9': 0, 'MH': 3, 'AL': 0, 'DD': 0, 'DY': 0, 'D8': 0, 'DV': 0, 'QW': 0, 'FR': 0, 'SV': 1, 'TR': 0, 'FM': 1, 'GQ': 0, '6Y': 0, 'TP': 2, 'FD': 0, 'VZ': 0, 'GS': 0, 'HV': 0, 'TO': 0, 'TK': 2, 'VN': 1, 'V7': 0, 'VY': 0, 'W6': 0, '5W': 0, 'W4': 0, 'MF': 1, 'ZG': 0, 'EC': 0}

In [14]:
df_alliance_index = []
for airline in df_airline:
  if alliance_ref_dict.get(get_airline_code(airline)) != None: df_alliance_index.append(alliance_ref_dict.get(get_airline_code(airline)))
  else: df_alliance_index.append(alliance_ref_dict.get(0))
print(df_alliance_index)

[0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 3, 3, 1, 0, 3, 3, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 1, 1, 1, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 3, 0, 0, 3, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 3, 0, 1, 1, 1, 1, 0, 2, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [15]:
iata_icao = pd.read_csv('iata-icao.csv', sep=',')
df_iata = iata_icao

In [16]:
df_iata

,country_code,region_name,iata,icao,airport,latitude,longitude
0,AE,Abu Zaby,AAN,OMAL,Al Ain International Airport,24.2617,55.6092
1,AE,Abu Zaby,AUH,OMAA,Abu Dhabi International Airport,24.4330,54.6511
2,AE,Abu Zaby,AYM,NaN,Yas Island Seaplane Base,24.4670,54.6103
3,AE,Abu Zaby,AZI,OMAD,Al Bateen Executive Airport,24.4283,54.4581
4,AE,Abu Zaby,DHF,OMAM,Al Dhafra Air Base,24.2482,54.5477
...,...,...,...,...,...,...,...
8932,ZW,Masvingo,MVZ,FVMV,Masvingo Airport,-20.0553,30.8591
8933,ZW,Matabeleland North,HWN,FVWN,Hwange National Park Airport,-18.6299,27.0210
8934,ZW,Matabeleland North,VFA,FVFA,Victoria Falls Airport,-18.0959,25.8390
8935,ZW,Matabeleland North,WKI,FVWT,Hwange Town Airport,-18.3630,26.5198
8936,ZW,Midlands,GWE,FVTL,Thornhill Air Base,-19.4364,29.8619

In [17]:
# addtional airports whose gps is missing
bgy = [45.673889, 9.704166]
bsl = [47.590000, 7.529167]
cia = [41.799361, 12.594936]
itm = [34.785528, 135.438222]
pkx = [39.509167, 116.410556]
sai = [13.369167, 104.223056]
sxf = [52.378333, 13.520556] # same with BER?
tfn = [28.482653, -16.341535]
tfs = [28.044475, -16.572488]

In [18]:
# match airports with its gps
airport_uniq = np.unique(np.reshape(from_to_pair, df.shape[0] * 2))
airport_coor = []
missing_count = 0
print("!" + "-" * 32 + "!")
for airport in airport_uniq:
  coordinates = df_iata[df_iata['iata'] == airport]
  if coordinates.size != 0:
    airport_coor_pair = [airport, [coordinates.iloc[0][-2], coordinates.iloc[0][-1]]]
    airport_coor.append(airport_coor_pair)
  else:
    print("!", missing_count, airport, "coordinates data missing !")
    # airport_coor.append([airport])
    if (airport == 'BGY'):
      airport_coor.append([airport, bgy])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'BSL'):
      airport_coor.append([airport, bsl])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'CIA'):
      airport_coor.append([airport, cia])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'ITM'):
      airport_coor.append([airport, itm])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'PKX'):
      airport_coor.append([airport, pkx])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'SAI'):
      airport_coor.append([airport, sai])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'SXF'):
      airport_coor.append([airport, sxf])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'TFN'):
      airport_coor.append([airport, tfn])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    elif (airport == 'TFS'):
      airport_coor.append([airport, tfs])
      print("!", missing_count, airport, "added " + "-" * 19 + "!")
    missing_count += 1
print("!" + "-" * 32 + "!")
assert(len(airport_coor) == len(airport_uniq))
# airport_coor

!--------------------------------!
! 0 BGY coordinates data missing !
! 0 BGY added -------------------!
! 1 BSL coordinates data missing !
! 1 BSL added -------------------!
! 2 CIA coordinates data missing !
! 2 CIA added -------------------!
! 3 ITM coordinates data missing !
! 3 ITM added -------------------!
! 4 PKX coordinates data missing !
! 4 PKX added -------------------!
! 5 SAI coordinates data missing !
! 5 SAI added -------------------!
! 6 SXF coordinates data missing !
! 6 SXF added -------------------!
! 7 TFN coordinates data missing !
! 7 TFN added -------------------!
! 8 TFS coordinates data missing !
! 8 TFS added -------------------!
!--------------------------------!

C:\Users\admin\AppData\Local\Temp\ipykernel_20056\2255837039.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  airport_coor_pair = [airport, [coordinates.iloc[0][-2], coordinates.iloc[0][-1]]]

In [19]:
# make sure each airport has its gps
line_counter = 0
miss_counter = 0
for i in airport_coor:
  if len(i) == 1:
    miss_counter += 1
    print(line_counter, i)
  line_counter += 1
if (miss_counter == 0): print("Airport coordinates completed!")

Airport coordinates completed!

In [20]:
# geodesic(bkk, dxb).km
# great_circle(bkk, dxb).km

In [21]:
# compute triplet [[from, [from_lat, from_lon]], [to, [to_lat, to_lon], dist]
from_to_pair_coor = []
for pair in from_to_pair:
  pair_coor = []
  for airport in pair:
    triple = airport_coor[np.where(airport_uniq == airport)[0][0]]
    if len(triple) == 2: pair_coor.append(triple)
    else: print(airport, "coordinates missing")
  pair_coor.append(round(geodesic(pair_coor[0][1], pair_coor[1][1]).km)) # calculate dist with geodesic
  from_to_pair_coor.append(pair_coor)
assert(len(from_to_pair_coor) == df.shape[0])
print(df.shape[0], "flight routes completed!")

234 flight routes completed!

In [22]:
from_to_pair_coor

[[['CFU', [39.6019, 19.9117]], ['MRS', [43.4393, 5.22142]], 1296],
 [['MRS', [43.4393, 5.22142]], ['CFU', [39.6019, 19.9117]], 1296],
 [['NCE', [43.6584, 7.21587]], ['CDG', [49.0097, 2.54778]], 695],
 [['FCO', [41.8003, 12.2389]], ['NCE', [43.6584, 7.21587]], 460],
 [['DXB', [25.2528, 55.3644]], ['FCO', [41.8003, 12.2389]], 4349],
 [['BKK', [13.6811, 100.747]], ['DXB', [25.2528, 55.3644]], 4909],
 [['HKG', [22.3089, 113.915]], ['BKK', [13.6811, 100.747]], 1689],
 [['HEL', [60.3172, 24.9633]], ['HKG', [22.3089, 113.915]], 7821],
 [['NCE', [43.6584, 7.21587]], ['HEL', [60.3172, 24.9633]], 2203],
 [['VIE', [48.1103, 16.5697]], ['MRS', [43.4393, 5.22142]], 1022],
 [['NCE', [43.6584, 7.21587]], ['VIE', [48.1103, 16.5697]], 878],
 [['FCO', [41.8003, 12.2389]], ['NCE', [43.6584, 7.21587]], 460],
 [['CTA', [37.4668, 15.0664]], ['FCO', [41.8003, 12.2389]], 539],
 [['FCO', [41.8003, 12.2389]], ['CTA', [37.4668, 15.0664]], 539],
 [['NCE', [43.6584, 7.21587]], ['FCO', [41.8003, 12.2389]], 460],
 [['TFS', [28.044475, -16.572488]], ['NCE', [43.6584, 7.21587]], 2743],
 [['BSL', [47.59, 7.529167]], ['TFS', [28.044475, -16.572488]], 3010],
 [['NCE', [43.6584, 7.21587]], ['BSL', [47.59, 7.529167]], 438],
 [['HBE', [30.9177, 29.6964]], ['MXP', [45.6306, 8.72811]], 2443],
 [['CAI', [30.1219, 31.4056]], ['ASW', [23.9644, 32.82]], 697],
 [['MXP', [45.6306, 8.72811]], ['HBE', [30.9177, 29.6964]], 2443],
 [['BDS', [40.6576, 17.947]], ['MXP', [45.6306, 8.72811]], 930],
 [['FCO', [41.8003, 12.2389]], ['BDS', [40.6576, 17.947]], 495],
 [['TFS', [28.044475, -16.572488]], ['FCO', [41.8003, 12.2389]], 3021],
 [['PMI', [39.5517, 2.73881]], ['TFN', [28.482653, -16.341535]], 2140],
 [['MXP', [45.6306, 8.72811]], ['PMI', [39.5517, 2.73881]], 835],
 [['LCA', [34.8751, 33.6249]], ['MXP', [45.6306, 8.72811]], 2417],
 [['AMM', [31.7226, 35.9932]], ['PFO', [34.718, 32.4857]], 466],
 [['WMI', [52.4511, 20.6518]], ['AMM', [31.7226, 35.9932]], 2617],
 [['KBP', [50.345, 30.8947]], ['WMI', [52.4511, 20.6518]], 750],
 [['WRO', [51.1027, 16.8858]], ['LWO', [49.8125, 23.9561]], 522],
 [['OHD', [41.18, 20.7423]], ['VIE', [48.1103, 16.5697]], 838],
 [['CIA', [41.799361, 12.594936]], ['TIA', [41.4147, 19.7206]], 595],
 [['CTA', [37.4668, 15.0664]], ['FCO', [41.8003, 12.2389]], 539],
 [['NCE', [43.6584, 7.21587]], ['CTA', [37.4668, 15.0664]], 956],
 [['CDG', [49.0097, 2.54778]], ['NCE', [43.6584, 7.21587]], 695],
 [['NCE', [43.6584, 7.21587]], ['ORY', [48.7231, 2.35944]], 676],
 [['CDG', [49.0097, 2.54778]], ['NCE', [43.6584, 7.21587]], 695],
 [['GVA', [46.2381, 6.10895]], ['NCE', [43.6584, 7.21587]], 300],
 [['LIS', [38.7813, -9.13592]], ['ZRH', [47.4647, 8.54917]], 1726],
 [['NTE', [47.1532, -1.61073]], ['LIS', [38.7813, -9.13592]], 1113],
 [['NCE', [43.6584, 7.21587]], ['ORY', [48.7231, 2.35944]], 676],
 [['VIE', [48.1103, 16.5697]], ['NCE', [43.6584, 7.21587]], 878],
 [['CPH', [55.6179, 12.656]], ['MUC', [48.3538, 11.7861]], 810],
 [['NCE', [43.6584, 7.21587]], ['ORY', [48.7231, 2.35944]], 676],
 [['TFS', [28.044475, -16.572488]], ['MXP', [45.6306, 8.72811]], 2960],
 [['LPA', [27.9319, -15.3866]], ['TFN', [28.482653, -16.341535]], 112],
 [['MXP', [45.6306, 8.72811]], ['LPA', [27.9319, -15.3866]], 2893],
 [['WMI', [52.4511, 20.6518]], ['BGY', [45.673889, 9.704166]], 1097],
 [['MXP', [45.6306, 8.72811]], ['KRK', [50.0777, 19.7848]], 962],
 [['LIS', [38.7813, -9.13592]], ['MXP', [45.6306, 8.72811]], 1655],
 [['MXP', [45.6306, 8.72811]], ['LIS', [38.7813, -9.13592]], 1655],
 [['VIE', [48.1103, 16.5697]], ['NCE', [43.6584, 7.21587]], 878],
 [['CRL', [50.4592, 4.45382]], ['BUD', [47.4298, 19.2611]], 1134],
 [['NCE', [43.6584, 7.21587]], ['BRU', [50.9014, 4.48444]], 831],
 [['FCO', [41.8003, 12.2389]], ['NCE', [43.6584, 7.21587]], 460],
 [['MLA', [35.8575, 14.4775]], ['NAP', [40.886, 14.2908]], 558],
 [['ATH', [37.9364, 23.9445]], ['CIA', [41.799361, 12.594936]], 1060],
 [['FCO', [41.8003, 12.2389]], ['MLA', [35.8575, 14.4775]], 688],
 [['JTR', [36.3992, 25.4793]], ['ATH', [37.9364, 23.9445]], 218],
 [['ATH', [37.9364, 23.9445]], ['JTR', [36.3992, 25.4793]], 218],
 [['BGY', [45.673889, 9.704166]], ['ATH', [37.9364, 23.9445]], 1459],
 [['SOF', [42.6967, 23.4114]], ['BGY', [45.673889, 9.704166]], 1143],
 [['BGY', [45.673889, 9.704166]], ['OTP', [44.5711, 26.085]], 1292],
 [['GVA', [46.2381, 6.10895]], ['NCE', [43.6584, 7.21587]], 300],
 [['KUT', [42.1767, 42.4826]], ['MXP', [45.6306, 8.72811]], 2718],
 [['BLQ', [44.5354, 11.2887]], ['KUT', [42.1767, 42.4826]], 2527],
 [['BCN', [41.2971, 2.07846]], ['NCE', [43.6584, 7.21587]], 497],
 [['SXF', [52.378333, 13.520556]], ['BCN', [41.2971, 2.07846]], 1506],
 [['NCE', [43.6584, 7.21587]], ['HAM', [53.6304, 9.98823]], 1127],
 [['PEK', [40.0725, 116.598]], ['NCE', [43.6584, 7.21587]], 8349],
 [['DLC', [38.9657, 121.539]], ['PEK', [40.0725, 116.598]], 442],
 [['DLC', [38.9657, 121.539]], ['XIY', [34.4471, 108.752]], 1246],
 [['XMN', [24.544, 118.128]], ['DLC', [38.9657, 121.539]], 1631],
 [['AMS', [52.3086, 4.76389]], ['XMN', [24.544, 118.128]], 9335],
 [['ZRH', [47.4647, 8.54917]], ['AMS', [52.3086, 4.76389]], 603],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['PEK', [40.0725, 116.598]], ['AMS', [52.3086, 4.76389]], 7850],
 [['DLC', [38.9657, 121.539]], ['PEK', [40.0725, 116.598]], 442],
 [['CDG', [49.0097, 2.54778]], ['PEK', [40.0725, 116.598]], 8212],
 [['NCE', [43.6584, 7.21587]], ['CDG', [49.0097, 2.54778]], 695],
 [['FEZ', [33.9273, -4.97796]], ['MRS', [43.4393, 5.22142]], 1377],
 [['MRS', [43.4393, 5.22142]], ['FEZ', [33.9273, -4.97796]], 1377],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['MAD', [40.4719, -3.56264]], ['AMS', [52.3086, 4.76389]], 1461],
 [['OPO', [41.2356, -8.67806]], ['MAD', [40.4719, -3.56264]], 440],
 [['LIS', [38.7813, -9.13592]], ['OPO', [41.2356, -8.67806]], 275],
 [['CDG', [49.0097, 2.54778]], ['LIS', [38.7813, -9.13592]], 1471],
 [['MRS', [43.4393, 5.22142]], ['CDG', [49.0097, 2.54778]], 653],
 [['CDG', [49.0097, 2.54778]], ['NCE', [43.6584, 7.21587]], 695],
 [['ISL', [40.9769, 28.8146]], ['CDG', [49.0097, 2.54778]], 2241],
 [['NCE', [43.6584, 7.21587]], ['AMS', [52.3086, 4.76389]], 979],
 [['LHR', [51.4775, -0.461389]], ['NCE', [43.6584, 7.21587]], 1043],
 [['PEK', [40.0725, 116.598]], ['LHR', [51.4775, -0.461389]], 8176],
 [['DLC', [38.9657, 121.539]], ['PEK', [40.0725, 116.598]], 442],
 [['TSN', [39.1244, 117.346]], ['DLC', [38.9657, 121.539]], 363],
 [['LHR', [51.4775, -0.461389]], ['PEK', [40.0725, 116.598]], 8176],
 [['NCE', [43.6584, 7.21587]], ['LHR', [51.4775, -0.461389]], 1043],
 [['SVO', [55.9728, 37.4147]], ['NCE', [43.6584, 7.21587]], 2538],
 [['PEK', [40.0725, 116.598]], ['SVO', [55.9728, 37.4147]], 5812],
 [['DLC', [38.9657, 121.539]], ['PEK', [40.0725, 116.598]], 442],
 [['PEK', [40.0725, 116.598]], ['DLC', [38.9657, 121.539]], 442],
 [['DLC', [38.9657, 121.539]], ['PEK', [40.0725, 116.598]], 442],
 [['PEK', [40.0725, 116.598]], ['DLC', [38.9657, 121.539]], 442],
 [['PEK', [40.0725, 116.598]], ['DLC', [38.9657, 121.539]], 442],
 [['NCE', [43.6584, 7.21587]], ['LGW', [51.1481, -0.190278]], 1002],
 [['LGW', [51.1481, -0.190278]], ['NCE', [43.6584, 7.21587]], 1002],
 [['NCE', [43.6584, 7.21587]], ['LTN', [51.8747, -0.368333]], 1075],
 [['STN', [51.885, 0.235]], ['NCE', [43.6584, 7.21587]], 1053],
 [['NCE', [43.6584, 7.21587]], ['EDI', [55.95, -3.3725]], 1561],
 [['EDI', [55.95, -3.3725]], ['NCE', [43.6584, 7.21587]], 1561],
 [['NCE', [43.6584, 7.21587]], ['LGW', [51.1481, -0.190278]], 1002],
 [['LGW', [51.1481, -0.190278]], ['DUB', [53.4213, -6.27007]], 486],
 [['DUB', [53.4213, -6.27007]], ['NCE', [43.6584, 7.21587]], 1468],
 [['ORY', [48.7231, 2.35944]], ['CAI', [30.1219, 31.4056]], 3209],
 [['NAP', [40.886, 14.2908]], ['NCE', [43.6584, 7.21587]], 660],
 [['MRS', [43.4393, 5.22142]], ['SNN', [52.702, -8.92482]], 1469],
 [['DUB', [53.4213, -6.27007]], ['NCE', [43.6584, 7.21587]], 1468],
 [['MXP', [45.6306, 8.72811]], ['NAP', [40.886, 14.2908]], 694],
 [['HRG', [27.1783, 33.7994]], ['MXP', [45.6306, 8.72811]], 3018],
 [['AMS', [52.3086, 4.76389]], ['ISL', [40.9769, 28.8146]], 2214],
 [['ISL', [40.9769, 28.8146]], ['ASR', [38.7704, 35.4954]], 622],
 [['ASR', [38.7704, 35.4954]], ['ISL', [40.9769, 28.8146]], 622],
 [['GVA', [46.2381, 6.10895]], ['JED', [21.6796, 39.1565]], 4041],
 [['JED', [21.6796, 39.1565]], ['KUL', [2.74558, 101.71]], 7071],
 [['KUL', [2.74558, 101.71]], ['JED', [21.6796, 39.1565]], 7071],
 [['JED', [21.6796, 39.1565]], ['MAD', [40.4719, -3.56264]], 4520],
 [['KIX', [34.4305, 135.23]], ['SIN', [1.35019, 103.994]], 4892],
 [['BKK', [13.6811, 100.747]], ['NRT', [35.7653, 140.386]], 4650],
 [['NCE', [43.6584, 7.21587]], ['ORY', [48.7231, 2.35944]], 676],
 [['MAD', [40.4719, -3.56264]], ['NCE', [43.6584, 7.21587]], 959],
 [['DPS', [-8.74817, 115.167]], ['KUL', [2.74558, 101.71]], 1961],
 [['CNX', [18.7668, 98.9626]], ['BKK', [13.6811, 100.747]], 594],
 [['DMK', [13.9126, 100.607]], ['CNX', [18.7668, 98.9626]], 565],
 [['SIN', [1.35019, 103.994]], ['BKI', [5.93721, 116.051]], 1432],
 [['NCE', [43.6584, 7.21587]], ['OLB', [40.8987, 9.51763]], 361],
 [['CAG', [39.2515, 9.05428]], ['NAP', [40.886, 14.2908]], 482],
 [['NCE', [43.6584, 7.21587]], ['TLL', [59.4133, 24.8328]], 2122],
 [['TLL', [59.4133, 24.8328]], ['ARN', [59.6519, 17.9186]], 392],
 [['ARN', [59.6519, 17.9186]], ['NCE', [43.6584, 7.21587]], 1922],
 [['NCE', [43.6584, 7.21587]], ['BEG', [44.8184, 20.3091]], 1053],
 [['BEG', [44.8184, 20.3091]], ['NCE', [43.6584, 7.21587]], 1053],
 [['MRS', [43.4393, 5.22142]], ['FEZ', [33.9273, -4.97796]], 1377],
 [['FEZ', [33.9273, -4.97796]], ['MRS', [43.4393, 5.22142]], 1377],
 [['KUL', [2.74558, 101.71]], ['HKG', [22.3089, 113.915]], 2535],
 [['MFM', [22.1496, 113.592]], ['SIN', [1.35019, 103.994]], 2525],
 [['SIN', [1.35019, 103.994]], ['YIA', [-7.90534, 110.057]], 1225],
 [['YIA', [-7.90534, 110.057]], ['DPS', [-8.74817, 115.167]], 571],
 [['FCO', [41.8003, 12.2389]], ['NCE', [43.6584, 7.21587]], 460],
 [['HND', [35.5533, 139.781]], ['ITM', [34.785528, 135.438222]], 405],
 [['KUL', [2.74558, 101.71]], ['REP', [13.4107, 103.813]], 1202],
 [['KUL', [2.74558, 101.71]], ['PEN', [5.29714, 100.277]], 324],
 [['REP', [13.4107, 103.813]], ['DMK', [13.9126, 100.607]], 351],
 [['LGK', [6.32973, 99.7287]], ['KUL', [2.74558, 101.71]], 453],
 [['PEN', [5.29714, 100.277]], ['LGK', [6.32973, 99.7287]], 129],
 [['NCE', [43.6584, 7.21587]], ['GVA', [46.2381, 6.10895]], 300],
 [['BKI', [5.93721, 116.051]], ['JHB', [1.64131, 103.67]], 1455],
 [['JHB', [1.64131, 103.67]], ['KUL', [2.74558, 101.71]], 250],
 [['NCE', [43.6584, 7.21587]], ['CDG', [49.0097, 2.54778]], 695],
 [['CDG', [49.0097, 2.54778]], ['ICN', [37.4633, 126.44]], 8950],
 [['BKK', [13.6811, 100.747]], ['AMS', [52.3086, 4.76389]], 9217],
 [['DLC', [38.9657, 121.539]], ['YIH', [30.5565, 111.48]], 1309],
 [['YIH', [30.5565, 111.48]], ['DMK', [13.9126, 100.607]], 2154],
 [['ICN', [37.4633, 126.44]], ['DLC', [38.9657, 121.539]], 460],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['MRS', [43.4393, 5.22142]], ['FCO', [41.8003, 12.2389]], 604],
 [['FCO', [41.8003, 12.2389]], ['AUH', [24.433, 54.6511]], 4345],
 [['AUH', [24.433, 54.6511]], ['MCT', [23.5933, 58.2844]], 381],
 [['MCT', [23.5933, 58.2844]], ['AUH', [24.433, 54.6511]], 381],
 [['AUH', [24.433, 54.6511]], ['SKD', [39.7005, 66.9838]], 2050],
 [['SKD', [39.7005, 66.9838]], ['ALA', [43.3521, 77.0405]], 931],
 [['ALA', [43.3521, 77.0405]], ['NQZ', [51.0222, 71.4669]], 951],
 [['NQZ', [51.0222, 71.4669]], ['AUH', [24.433, 54.6511]], 3285],
 [['AUH', [24.433, 54.6511]], ['FCO', [41.8003, 12.2389]], 4345],
 [['FCO', [41.8003, 12.2389]], ['NCE', [43.6584, 7.21587]], 460],
 [['MRS', [43.4393, 5.22142]], ['VLC', [39.4893, -0.481625]], 647],
 [['VLC', [39.4893, -0.481625]], ['SVQ', [37.418, -5.89311]], 525],
 [['AGP', [36.6749, -4.49911]], ['BOD', [44.8283, -0.715556]], 960],
 [['BOD', [44.8283, -0.715556]], ['NCE', [43.6584, 7.21587]], 646],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['AMS', [52.3086, 4.76389]], ['BEG', [44.8184, 20.3091]], 1413],
 [['BEG', [44.8184, 20.3091]], ['AMS', [52.3086, 4.76389]], 1413],
 [['CKG', [29.7192, 106.642]], ['LYI', [35.0461, 118.412]], 1254],
 [['LYI', [35.0461, 118.412]], ['DLC', [38.9657, 121.539]], 516],
 [['NCE', [43.6584, 7.21587]], ['AMS', [52.3086, 4.76389]], 979],
 [['AMS', [52.3086, 4.76389]], ['NBO', [-1.31924, 36.9278]], 6662],
 [['NBO', [-1.31924, 36.9278]], ['SEZ', [-4.67434, 55.5218]], 2100],
 [['SEZ', [-4.67434, 55.5218]], ['NBO', [-1.31924, 36.9278]], 2100],
 [['NBO', [-1.31924, 36.9278]], ['AMS', [52.3086, 4.76389]], 6662],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['NCE', [43.6584, 7.21587]], ['CDG', [49.0097, 2.54778]], 695],
 [['CDG', [49.0097, 2.54778]], ['AMS', [52.3086, 4.76389]], 399],
 [['NCE', [43.6584, 7.21587]], ['AMS', [52.3086, 4.76389]], 979],
 [['NCE', [43.6584, 7.21587]], ['AMS', [52.3086, 4.76389]], 979],
 [['AMS', [52.3086, 4.76389]], ['CDG', [49.0097, 2.54778]], 399],
 [['CDG', [49.0097, 2.54778]], ['HKG', [22.3089, 113.915]], 9607],
 [['HKG', [22.3089, 113.915]], ['AMS', [52.3086, 4.76389]], 9290],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['NCE', [43.6584, 7.21587]], ['ORY', [48.7231, 2.35944]], 676],
 [['ORY', [48.7231, 2.35944]], ['NCE', [43.6584, 7.21587]], 676],
 [['HKG', [22.3089, 113.915]], ['BKK', [13.6811, 100.747]], 1689],
 [['BKK', [13.6811, 100.747]], ['HKT', [8.1132, 98.3169]], 671],
 [['HKT', [8.1132, 98.3169]], ['PVG', [31.1434, 121.805]], 3528],
 [['PVG', [31.1434, 121.805]], ['DLC', [38.9657, 121.539]], 868],
 [['PEK', [40.0725, 116.598]], ['CDG', [49.0097, 2.54778]], 8212],
 [['CDG', [49.0097, 2.54778]], ['AMS', [52.3086, 4.76389]], 399],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['PEK', [40.0725, 116.598]], ['DLC', [38.9657, 121.539]], 442],
 [['AMS', [52.3086, 4.76389]], ['PEK', [40.0725, 116.598]], 7850],
 [['DLC', [38.9657, 121.539]], ['PKX', [39.509167, 116.410556]], 447],
 [['NCE', [43.6584, 7.21587]], ['CDG', [49.0097, 2.54778]], 695],
 [['CDG', [49.0097, 2.54778]], ['HKG', [22.3089, 113.915]], 9607],
 [['CGK', [-6.12556, 106.656]], ['SIN', [1.35019, 103.994]], 878],
 [['SIN', [1.35019, 103.994]], ['AMS', [52.3086, 4.76389]], 10517],
 [['AMS', [52.3086, 4.76389]], ['NCE', [43.6584, 7.21587]], 979],
 [['HKG', [22.3089, 113.915]], ['HAN', [21.2212, 105.807]], 847],
 [['HAN', [21.2212, 105.807]], ['SAI', [13.369167, 104.223056]], 885],
 [['SAI', [13.369167, 104.223056]], ['DMK', [13.9126, 100.607]], 396],
 [['BKK', [13.6811, 100.747]], ['SIN', [1.35019, 103.994]], 1410],
 [['SIN', [1.35019, 103.994]], ['DPS', [-8.74817, 115.167]], 1668],
 [['MAD', [40.4719, -3.56264]], ['CDG', [49.0097, 2.54778]], 1064],
 [['CDG', [49.0097, 2.54778]], ['PVG', [31.1434, 121.805]], 9287],
 [['PVG', [31.1434, 121.805]], ['DLC', [38.9657, 121.539]], 868],
 [['DLC', [38.9657, 121.539]], ['PVG', [31.1434, 121.805]], 868],
 [['PVG', [31.1434, 121.805]], ['CDG', [49.0097, 2.54778]], 9287],
 [['CDG', [49.0097, 2.54778]], ['MUC', [48.3538, 11.7861]], 684],
 [['MUC', [48.3538, 11.7861]], ['CDG', [49.0097, 2.54778]], 684],
 [['CDG', [49.0097, 2.54778]], ['NCE', [43.6584, 7.21587]], 695],
 [['NCE', [43.6584, 7.21587]], ['FCO', [41.8003, 12.2389]], 460],
 [['FCO', [41.8003, 12.2389]], ['MAD', [40.4719, -3.56264]], 1333],
 [['DPS', [-8.74817, 115.167]], ['CGK', [-6.12556, 106.656]], 983],
 [['DLC', [38.9657, 121.539]], ['NKG', [31.742, 118.862]], 837],
 [['NKG', [31.742, 118.862]], ['FOC', [25.9351, 119.663]], 648],
 [['FOC', [25.9351, 119.663]], ['HKG', [22.3089, 113.915]], 709]]

In [23]:
# prepare for output
df_enrich = df
df_enrich.insert(3, "Iata_from", [pair[0][0] for pair in from_to_pair_coor], True)
df_enrich.insert(4, "From_lat", [pair[0][1][0] for pair in from_to_pair_coor], True)
df_enrich.insert(5, "From_lon", [pair[0][1][1] for pair in from_to_pair_coor], True)
df_enrich.insert(7, "Iata_to", [pair[1][0] for pair in from_to_pair_coor], True)
df_enrich.insert(8, "To_lat", [pair[1][1][0] for pair in from_to_pair_coor], True)
df_enrich.insert(9, "To_lon", [pair[1][1][1] for pair in from_to_pair_coor], True)
df_enrich.insert(10, "Dist", [pair[2] for pair in from_to_pair_coor], True)
df_enrich.insert(15, "Alliance", df_alliance_index, True)
df_enrich

,Date,Flight number,From,Iata_from,From_lat,From_lon,To,Iata_to,To_lat,To_lon,...,Registration,Seat number,Seat type,Flight class,Flight reason,Note,Dep_id,Arr_id,Airline_id,Aircraft_id
0,2022-06-28,FR1604,Kerkira / Ioannis Kapodistrias (CFU/LGKR),CFU,39.60190,19.91170,Marseille / Marseille Provence (MRS/LFML),MRS,43.43930,5.22142,...,EI-EKO,4A,1,0,0,NaN,531,1928,668,231
1,2022-06-25,FR7444,Marseille / Marseille Provence (MRS/LFML),MRS,43.43930,5.22142,Kerkira / Ioannis Kapodistrias (CFU/LGKR),CFU,39.60190,19.91170,...,9H-QDI,4A,1,0,0,NaN,1928,531,2723,231
2,2022-05-17,U23062,Nice / Nice Cote D'Azur (NCE/LFMN),NCE,43.65840,7.21587,Paris / Charles de Gaulle (CDG/LFPG),CDG,49.00970,2.54778,...,OE-ICP,8E,2,0,0,NaN,2027,509,2665,2059
3,2022-03-18,W68299,Rome / Leonardo da Vinci-Fiumicino (FCO/LIRF),FCO,41.80030,12.23890,Nice / Nice Cote D'Azur (NCE/LFMN),NCE,43.65840,7.21587,...,NaN,NaN,0,0,0,NaN,872,2027,859,2128
4,2022-03-18,EK97,Dubai / Dubai International (DXB/OMDB),DXB,25.25280,55.36440,Rome / Leonardo da Vinci-Fiumicino (FCO/LIRF),FCO,41.80030,12.23890,...,A6-EGS,NaN,0,0,0,NaN,768,872,807,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,2025-01-16,AZ64,Rome / Leonardo da Vinci-Fiumicino (FCO/LIRF),FCO,41.80030,12.23890,Madrid / Barajas (MAD/LEMD),MAD,40.47190,-3.56264,...,NaN,NaN,0,0,0,NaN,872,1739,2967,2127
230,2024-11-11,GA409,Denpasar Bali / Ngurah Rai (DPS/WADD),DPS,-8.74817,115.16700,Jakarta / Soekarno Hatta (CGK/WIII),CGK,-6.12556,106.65600,...,NaN,NaN,0,0,0,NaN,3582,534,327,30
231,2024-06-16,MF8086,Dalian / Zhoushuizi (DLC/ZYTL),DLC,38.96570,121.53900,Nanjing / Nanjing (NKG/ZSNJ),NKG,31.74200,118.86200,...,NaN,NaN,0,0,0,STOPOVER,720,2066,215,231
232,2024-06-16,MF8086,Nanjing / Nanjing (NKG/ZSNJ),NKG,31.74200,118.86200,Fuzhou / Fuzhou (FOC/ZSFZ),FOC,25.93510,119.66300,...,NaN,NaN,0,0,0,STOPOVER,2066,909,215,231
233,2024-06-16,MF8651,Fuzhou / Fuzhou (FOC/ZSFZ),FOC,25.93510,119.66300,Hong Kong / Hong Kong International (HKG/VHHH),HKG,22.30890,113.91500,...,NaN,NaN,0,0,0,NaN,909,1135,215,231

In [24]:
pd.DataFrame.to_csv(df_enrich, '../js/data/flightdiary.csv', sep=',')

## City

In [25]:
visited_cities_csv = pd.read_csv('TravelCities_Y.csv', sep=';')
visited_cities = visited_cities_csv
visited_cities

,city,iso3,FREQ,1st arrival,1st arrival transport,2nd arrival,2nd arrival transport,3rd arrival,3rd arrival transport,4th arrival,4th arrival transport
0,Dalian,CHN,1,1997-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Shenyang,CHN,1,2000-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yantai (Penglai),CHN,1,2009-07-01,S,NaN,NaN,NaN,NaN,NaN,NaN
3,Tai'an,CHN,1,2009-07-01,B,NaN,NaN,NaN,NaN,NaN,NaN
4,Qingdao,CHN,1,2009-07-01,B,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
150,Amsterdam,NLD,2,2018-01-26,A,2024-01-28,F,NaN,NaN,NaN,NaN
151,Victoria (Mahe),SYC,1,2024-01-29,F,NaN,NaN,NaN,NaN,NaN,NaN
152,The Hague (Den Haag),NLD,1,2020-02-24,T,NaN,NaN,NaN,NaN,NaN,NaN
153,Genoa,ITA,1,2022-04-15,T,NaN,NaN,NaN,NaN,NaN,NaN
154,Colmar,FRA,1,2021-11-01,B,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
visited_iso3_uniq = np.unique(list(visited_cities.loc[:, "iso3"]))
visited_iso3_uniq

array(['ALB', 'ARE', 'ARM', 'AUT', 'AZE', 'BEL', 'BGR', 'BIH', 'CHE',
       'CHN', 'CYP', 'CZE', 'DEU', 'DNK', 'EGY', 'ESP', 'EST', 'FIN',
       'FRA', 'GBR', 'GEO', 'GRC', 'HKG', 'HRV', 'HUN', 'IDN', 'IRL',
       'IRN', 'ITA', 'JOR', 'JPN', 'KAZ', 'KHM', 'KOR', 'MAC', 'MAR',
       'MCO', 'MKD', 'MLT', 'MYS', 'NLD', 'OMN', 'POL', 'PRT', 'ROU',
       'RUS', 'SGP', 'SMR', 'SRB', 'SVK', 'SVN', 'SWE', 'SYC', 'THA',
       'TUR', 'UKR', 'UZB', 'VAT'], dtype='<U3')

In [27]:
keys_visited_cities = visited_cities.keys()
keys_visited_cities

Index(['city', 'iso3', 'FREQ', '1st arrival', '1st arrival transport',
       '2nd arrival', '2nd arrival transport', '3rd arrival',
       '3rd arrival transport', '4th arrival', '4th arrival transport'],
      dtype='object')

In [28]:
world_cities_csv = pd.read_csv('worldcities.csv', sep=',')
# cities = world_cities_csv[world_cities_csv["capital"].notnull()]
cities = world_cities_csv[world_cities_csv["iso3"].isin(visited_iso3_uniq)] # filter to have less data to accelerate the match

In [29]:
cities

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
6,Shanghai,Shanghai,31.2286,121.4747,China,CN,CHN,Shanghai,admin,24073000.0,1156073548
8,Seoul,Seoul,37.5600,126.9900,"Korea, South",KR,KOR,Seoul,primary,23016000.0,1410836482
...,...,...,...,...,...,...,...,...,...,...,...
47851,Īlām,Ilam,33.6374,46.4227,Iran,IR,IRN,Īlām,admin,NaN,1364655025
47860,Pailin,Pailin,12.8489,102.6093,Cambodia,KH,KHM,Pailin,admin,NaN,1116050327
47861,Ta Khmau,Ta Khmau,11.4833,104.9500,Cambodia,KH,KHM,Kandal,admin,NaN,1116571704
47865,Muan,Muan,34.9897,126.4714,"Korea, South",KR,KOR,Jeonnam,admin,NaN,1410001061
47866,Hongseong,Hongseong,36.6009,126.6650,"Korea, South",KR,KOR,Chungnam,admin,NaN,1410822139

In [30]:
cities_simplify = cities.loc[:, ["city_ascii", "iso3", "lat", "lng"]]
cities_simplify = cities_simplify.rename(columns={"city_ascii": "city"})
cities_simplify.reset_index(drop=True, inplace=True)
cities_simplify

            city iso3      lat       lng
0          Tokyo  JPN  35.6897  139.6922
1        Jakarta  IDN  -6.1750  106.8275
2      Guangzhou  CHN  23.1300  113.2600
3       Shanghai  CHN  31.2286  121.4747
4          Seoul  KOR  37.5600  126.9900
...          ...  ...      ...       ...
18499       Ilam  IRN  33.6374   46.4227
18500     Pailin  KHM  12.8489  102.6093
18501   Ta Khmau  KHM  11.4833  104.9500
18502       Muan  KOR  34.9897  126.4714
18503  Hongseong  KOR  36.6009  126.6650

[18504 rows x 4 columns]

In [31]:
# additional city with its gps
extra_city = [["Villfranche-sur-Mer", [43.705, 7.3125]],
              ["Eze", [43.72861, 7.36167]],
              ["Merzouga", [31.09917, 4.01167]],
              ["Schwangau", [47.58306, 10.73306]],
              ["Santorini", [36.38806, 25.45972]],
              ["Wadi Musa", [30.32, 35.4783]],
              ["Abu Simbel", [22.33694, 31.62556]]]

In [32]:
# long runtime here
city_gps = []
for i in range(len(visited_cities)):
  city = visited_cities.loc[i, [keys_visited_cities[0], keys_visited_cities[1]]]
  find = False
  for j in range(len(cities_simplify)):
    city_simp = cities_simplify.loc[j, ["city", "iso3"]]
    city_half = city.iloc[0]
    if (city.iloc[0].find("(") != -1): city_half = city.iloc[0][:city.iloc[0].find("(") - 1]
    if (city_simp.iloc[0] == strip_accents(city_half)) and (city_simp.iloc[1] == city.iloc[1]):
      find = True
      city_gps.append([cities_simplify.loc[j, "lat"], cities_simplify.loc[j, "lng"]])
      break
  if (not find):
    print("!", i, city.iloc[0], city.iloc[1], "GPS data missing!")
    for pair in extra_city:
      if (strip_accents(city_half) == pair[0]):
        city_gps.append([pair[1][0], pair[1][1]])
        print("!", i, city.iloc[0], city.iloc[1], "Added ----------!")

! 12 Villfranche-sur-Mer FRA GPS data missing!
! 12 Villfranche-sur-Mer FRA Added ----------!
! 13 Èze FRA GPS data missing!
! 13 Èze FRA Added ----------!
! 47 Merzouga (Sahara) MAR GPS data missing!
! 47 Merzouga (Sahara) MAR Added ----------!
! 48 Schwangau DEU GPS data missing!
! 48 Schwangau DEU Added ----------!
! 91 Santorini (Fira) GRC GPS data missing!
! 91 Santorini (Fira) GRC Added ----------!
! 103 Wadi Musa JOR GPS data missing!
! 103 Wadi Musa JOR Added ----------!
! 107 Abu Simbel EGY GPS data missing!
! 107 Abu Simbel EGY Added ----------!

In [33]:
# prepare for output
visited_cities.insert(2, "lat", [pair[0] for pair in city_gps], True)
visited_cities.insert(3, "lon", [pair[1] for pair in city_gps], True)
visited_cities

,city,iso3,lat,lon,FREQ,1st arrival,1st arrival transport,2nd arrival,2nd arrival transport,3rd arrival,3rd arrival transport,4th arrival,4th arrival transport
0,Dalian,CHN,38.9000,121.6000,1,1997-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Shenyang,CHN,41.8025,123.4281,1,2000-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yantai (Penglai),CHN,37.4646,121.4478,1,2009-07-01,S,NaN,NaN,NaN,NaN,NaN,NaN
3,Tai'an,CHN,36.2020,117.0870,1,2009-07-01,B,NaN,NaN,NaN,NaN,NaN,NaN
4,Qingdao,CHN,36.0669,120.3827,1,2009-07-01,B,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Amsterdam,NLD,52.3728,4.8936,2,2018-01-26,A,2024-01-28,F,NaN,NaN,NaN,NaN
151,Victoria (Mahe),SYC,-4.6231,55.4525,1,2024-01-29,F,NaN,NaN,NaN,NaN,NaN,NaN
152,The Hague (Den Haag),NLD,52.0800,4.3100,1,2020-02-24,T,NaN,NaN,NaN,NaN,NaN,NaN
153,Genoa,ITA,44.4111,8.9328,1,2022-04-15,T,NaN,NaN,NaN,NaN,NaN,NaN
154,Colmar,FRA,48.0817,7.3556,1,2021-11-01,B,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
pd.DataFrame.to_csv(visited_cities, '../js/data/travelcities.csv', sep=',')